body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     /*Medidas Absolutas
     cm, mm, in, px, pt, pc (Centímetros, milímetros, polegadas, pixel, ponto, )

     Medidas Relativas
     em (Relativa ao tamanho atual da fonte)
     ex (Relativa ao tamanho da altura x fonte)
     rem ("r" de root. Relativa à fonte que está configurada no body)
     vw (View Width, Largura da viewport, q é o tamanho da tela, portanto o tamanho vai variar de monitor pra monitor)
     vh (view height, altura da viewport, basicamente a vw porém em relaçao a altura)
     % (Auto explicativa)

     Para font-size, recomendado apenas px e em (recomendação da w3c)
     16px geralmente é igual a 1em

     */
 }

 p {
     font-size: 1rem;
     font-weight: bold;
     font-style: italic;
     text-decoration: underline;
     /*Todos os pesos que uma fonte pode ter: sLighter Normal Bold Bolder*/
 }

 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
    /*Dá pra usar essas configurações de uma maneira mais prática que é chamada de "Shorthand font"
    A ordem a ser usada é Font-style, font-weight, font-size, font-family. 
    
    EX:
    font: italic bolder 3em Verdana, Geneva, Tahoma, sans-serif;
    */
 }

 h2 {
    font: bold, 2em, serif;
    /*Não há a necessidade de usar todas as propriedades, desde as q foram usadas estejam ordenadas*/
 }