@charset "UTF-8";

/*Estilo para impressora*/

* {
    margin: opx;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1em;
    font-size: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}